<footer class="bg-gray-100 border-t border-gray-200">
  <div class="px-4 py-6 mx-auto max-w-screen-2xl sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="mt-8 md:mt-0">
      <p class="text-sm text-center text-gray-700">
        &copy; <%= Date.current.year %> Hotwired ATS
      </p>
    </div>
    <div class="flex justify-center space-x-6">
      <%= link_to "Terms of Service", "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>
      <%= link_to "Privacy Policy", "#", class: "text-gray-700 hover:text-gray-900 text-xs" %>
    </div>
  </div>
</footer>